<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf 8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <title>Sign Up</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
     
     <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
     
    <style type="text/css">
       #nav
      {
        background-color: black;

      }
      a:hover
      {
        background-color: black;
      }
      html,body
      {
        height: 100%;
      }
      #img
      {
        height:80px;
        width:100px;
        border-radius: 50%
      }
     
      body
      {
        position: relative;
        font-size: 100%;
        line-height: 1.5em;

      }  
     
      #banner
      {
        height: 100%;
        background: url('banner1.jfif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        position: relative;
        opacity: 1.5;

      }
 
      #signup
      {
        position: relative;
        margin-left: 450px;
        margin-top: 35px;
        

      }
      #submit
      {
        margin-left: 2px;
        width:50%;
        border-radius: 10px;
      }
      #logo{
  padding-left: 100px;
  position: relative;
}
#n,#na,#p,#e
{
  width:50%;
}
 


  </style>

     </head>
<body  data-spy="scroll" data-target=".navbar" data-offset="60">
  <section id="banner" class="banner">
    <div class="bg-color">
      <nav class="navbar navbar-toggleable-sm bg-dark navbar-inverse fixed-top">
        <div class="container">
          <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mainNav">
            <div class="navbar-nav">
              <a class="navbar-brand" href="#"><img src="logo.png" class="img-responsive" height="50" width="50"></a></div>
              <% if (user) { %>
              <a class="nav-item nav-link active" href="/logout"><span style="color:white">Logout</span></a>
              <% } else { %>
              <a class="nav-item nav-link active" href="/login"><span style="color:white">Login</span></a>
              <% } %>
              <a class="nav-item nav-link active" href="/signup"><span style="color:white">Signup</span></a>
              <a class="nav-item nav-link active" href="/home"><span style="color:white">Home</span></a>
            </div>
          </div>
        </div>
      </nav>
      <br>
      <br>
    <div id="signup">
      <img src="reg1.jfif" class="img-responsive" height="250" width="330" id="logo"></a>
      <br>
      <br>  
      <form method="post" action="/signup" id="two" role="form" class="loginForm">
        <div class="form-group">
          <input type="text" class="form-control br-radius-zero" placeholder="Enter  your Name:" name="name" id="n">
        </div>
        <div class="form-group">
          <input type="text" class="form-control br-radius-zero" placeholder="Enter your Username:"  name="username" id="na">
        </div>
        <div class="form-group">
          <input type="password" class="form-control br-radius-zero" placeholder="Enter  your Password:" name="password" id="p">
        </div>
        <div class="form-group">
          <input type="text" class="form-control br-radius-zero" placeholder="Enter your Email:" name="email" id="e">
        </div>
        <button type="submit" class="btn btn-primary" id="submit" value="Submit">Submit</button>
      </form>
    </div>

</body>
</head>
</html>